@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: aqua">
    <h1 class="display-4">Welcome</h1>
    <p><img src="JR2_2385_900x.jpg" alt="Welocme"></p>
</div>
